[user]
	name = {{ git_user_name }}
	email = {{ git_user_email }}
{% if git_signing_key is defined and git_signing_key %}
	signingkey = {{ git_signing_key }}
{% endif %}

[core]
	excludesfile = {{ ansible_env.HOME }}/.gitignore_global
	editor = {{ git_editor | default('vim') }}

[init]
	defaultBranch = {{ git_default_branch | default('main') }}

[pull]
	rebase = {{ git_pull_rebase | default('true') }}

[push]
	autoSetupRemote = true

{% if git_signing_key is defined and git_signing_key %}
[commit]
	gpgsign = true
{% endif %}

[fetch]
	prune = true

[diff]
	colorMoved = zebra
